{% extends "galeria/base.html" %} {% load static %} {% block content %}

<div class="pagina-inicial">
  <header class="cabecalho">
    <img src="{% static '/assets/logo/ologo.png' %}" alt="Logo da Planet" />
    <div class="cabecalho__busca">
      <div class="busca__fundo">
        <form method="GET" action="{% url 'buscar' %}">
          <input
            class="busca__input"
            type="text"
            name="search"
            placeholder="O que você procura?"
          />
        </form>
        <img
          class="busca__icone"
          src="{% static '/assets/ícones/1x/search.png' %}"
          alt="ícone de search"
        />
      </div>
    </div>
  </header>
  <main class="principal-busca">
    <section class="menu-lateral">
      <nav class="menu-lateral__navegacao">
        <a href="{% url 'index' %}"
          ><img src="{% static '/assets/ícones/1x/Home - ativo.png'%}" />
          Home</a
        >
        <a href="#"
          ><img
            src="{% static '/assets/ícones/1x/Mais vistas - inativo.png'%}"
          />
          Mais vistas</a
        >
        <a href="#"
          ><img src="{% static '/assets/ícones/1x/Novas - inativo.png'%}" />
          Novas</a
        >
        <a href="#"
          ><img
            src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png'%}"
          />
          Surpreenda-me</a
        >
      </nav>
    </section>
    <section class="conteudo">
      <h1 class="imagem__texto">Resultado da busca por "{{ query }}"</h1>

      <ul class="galeria__cards">
        {% if resultados %} {% for ia in resultados %}
        <li class="card">
          <a href="{% url 'imagem' ia.id %}">
            {% if not ia.icone %}
            <img
              class="card__imagem"
              src="{% static '/assets/imagens/galeria/notfound.jpg' %}"
              alt="foto"
            />
            {% else %}
            <img class="card__imagem" src="{{ ia.icone.url }}" alt="foto" />
            {% endif %}
          </a>
          <span class="card__tag">{{ ia.categoria }}</span>
          <div class="card__info">
            <p class="card__titulo">{{ ia.nome }}</p>
            <div class="card__texto">
              <p class="card__descricao">{{ ia.legenda }}</p>
              <span>
                <img
                  src="{% static '/assets/ícones/1x/favorite_outline.png' %}"
                  alt="ícone de coração"
                />
              </span>
            </div>
          </div>
        </li>
        {% endfor %} {% else %}
        <p class="imagem__texto">Nenhuma fotografia encontrada.</p>
        {% endif %}
      </ul>
    </section>
  </main>
</div>
{% endblock %}
